@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: theme(colors.primary.DEFAULT);
  --color-primary-light: theme(colors.primary.light);
  --color-primary-lighter: theme(colors.primary.lighter);
  --color-accent: theme(colors.accent.DEFAULT);
  --color-accent-green: theme(colors.accent.green);
  --color-accent-red: theme(colors.accent.red);
  --color-neutral-base: theme(colors.neutral.base);
  --color-neutral-light: theme(colors.neutral.light);
  --color-neutral-border: theme(colors.neutral.border);
  --color-contrast: theme(colors.contrast.DEFAULT);
  --color-contrast-dark: theme(colors.contrast.dark);
  --color-contrast-blue: theme(colors.contrast.blue);
}

html {
  scroll-behavior: smooth;
}
